<div id="footer">

    <footer class="bg-dark footer-section">
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h5 class="text-light" style="margin-block-start: 40px;">ایمیل</h5>
                <p class="text-white paragraph-lg font-secondary">info@inntoken.ir
    
                </p>
              </div>
              <div class="col-md-4" >
                <h5 class="text-light" style="margin-block-start: 40px;">تماس با ما
                </h5>
                <p class="text-white paragraph-lg font-secondary">021-28421466
                </p>
              </div>
              <div class="col-md-4">
                <h5 class="text-light" style="margin-block-start: 40px;">آدرس</h5>
                <p class="text-white paragraph-lg font-secondary">بلوار کشاورز، ابتدای خیابان شانزده آذر
                    ساختمان کمال الدین بهزاد، طبقه دهم، اتاق 1006</p>
              </div>
            </div>
          </div>
        </div>
        <div class="border-top text-center border-dark py-5">
          <p class="mb-0 text-light">Copyright ©<script>
              var CurrentYear = new Date().getFullYear()
              document.write(CurrentYear)
            </script>  <a href="#">inntoken | powerd by innohouse</a></p>
        </div>
      </footer>
      





</div>