{% extends 'base.html' %}
{% load static %}



{% block content %}
    




    

<div class="container">
    <div class="row">
        {% for obj in object_list %}
            <div class="col-md-3 text-right">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                            [ InnToken ]
                        </div>
                        <div class="product-desc">
                            
                            <p class="">{{obj.name}} </p>
                            
                            <div class="small m-t-xs" style="margin-bottom: 50px;">
                            {{obj.description}}
                        </div>
                        <p class="">قیمت :{{obj.price}}</p>
                        <div class="m-t text-righ">
                            
<!-- service detail -->     <a href="#" class="btn btn-xs btn-outline btn-primary">مشاهده <i class="fa fa-long-arrow-left"> </i> </a>
                            <a href="{% url 'add_cart' service_id=obj.id %}"><button type="button" class="btn btn-danger" style="margin-top: 10px;">اضافه به سبد خرید</button>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}    
    </div>
</div>



{% endblock content %}









  