{% extends 'base.html' %}
{% block title %}

subcategory

{% endblock title %}

{% block content %}


<h3 style="direction: rtl; text-align: right;" >لیست زیر دسته ها</h3>

{% for e in object_list %}
<p style="direction: rtl; text-align: right;">*******************************************</p>
<ul style="direction: rtl; text-align: right; list-style-type:none;" >
    <li>
        <a href="{% url 'service_sub' sub_id=e.id %}">{{ e.name }}</a>
    </li>
</ul>
<p style="direction: rtl; text-align: right;">*******************************************</p>

{% endfor %}


{% endblock content %}