<div id="footer">
 <!-- Site footer -->
 <footer class="site-footer" style="direction: ;">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6">
              <ul>
                  <li style="margin-bottom: 50px; text-align: right;">آدرس : بلوار کشاورز، ابتدای خیابان شانزده آذر ساختمان کمال الدین بهزاد، طبقه دهم، اتاق 1006 </li>
                  <li style="margin-bottom: 50px; text-align: right;">تلفن : 021-28421466
                  </li>
                  <li style="text-align: right;">ایمیل : info@inntoken.ir

                  </li>

              </ul>

          </div>

          <div class="col-xs-6 col-md-3">
              <h6>خدمات ما</h6>
              <ul class="footer-links">
                  <li><a href="#">C</a></li>
                  <li><a href="#">UI Design</a></li>
                  <li><a href="#">PHP</a></li>
                  <li><a href="#">Java</a></li>
                  <li><a href="#">Android</a></li>
                  <li><a href="#">Templates</a></li>
              </ul>
          </div>

          <div class="col-xs-6 col-md-3">
              <h6>دسترسی سریع</h6>
              <ul class="footer-links">
                  <li><a href="#">درباره ما</a></li>
                  <li><a href="#">تماس با ما</a></li>
                  <li><a href="#">بلاگ</a></li>
                  <li><a href="#">قوانین و مقررات</a></li>
                  <li><a href="#">راهنما</a></li>
              </ul>
          </div>
      </div>
      <hr>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
              <p style="text-align: left;" class="copyright-text"> &copy; کلیه حقوق این سایت متعلق به اینوتوکن می‌باشد © 2020 | طراحی و توسعه: تیم لینوس

              </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">

          </div>
      </div>
  </div>
</footer>

      





</div>