body {
    /* background: url('https://image.shutterstock.com/z/stock-vector-blockchain-concept-banner-isometric-digital-blocks-connection-with-each-other-and-shapes-crypto-1100777855.jpg') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.nounderline {
    text-decoration: none !important
  }