{% extends "base1.html" %} 
{% load nbsp %}
{% load jformat %}

{% block content %}


<!------start-feature-pic-------->
<section class="bg" >
    <div class="container">
        
        <div class="row">
            <!------start-for-python here { for }-------->
            {% for post in object_list %} 
            <div class="clo-xs-12 col-sm-6 col-md-3">
                <div class="box">
                    <div class="box-pic">
                        <img src="{{post.image.url}}" id="imglist" alt="" >
                    </div>
                    <div style="display: flex;">
                        
                        <p class="text-muted pt-1 " id="plist" >{{ post.created_on|jformat:" %B | %d | %Y"}} </p>
                        <!-- <a href="#"><button style="margin-right: 5%;" class="btn btn-light btn-outline-primary ">مشاهده</button></a> -->
                    </div>
                    <hr>
                    <h2 class="text-dark my-3 text-right h6"><a class="nounderline text-dark" id="more" href="{% url 'post_detail' post.url  %}">{{ post.title|striptags|nbsp2space|quot|zwnj}} </a></h2>
                    <!-- <p class="text-muted "> {توضیحات از دیتابیس} طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد . {توضیحات از دیتابیس}</p> -->
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

                <!------finish-{ for }-------->

<ul class="pagination d-flex justify-content-around">

        {% if page_obj.has_previous %}
        <li class="page-item disabled">

            <a class="page-item" href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
            {% endif %}
            <li class="page-item disabled">

        <a class=" page-item">
             {{ page_obj.number }}
        </a>
</li>
        {% if page_obj.has_next %}
        <li class="page-item disabled">

            <a class="page-item " href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            {% endif %}
    
</ul>
{%endblock%}