{% extends 'base.html' %}

{% block title %}
خدمت دهنده 
{% endblock title %}

{% block content %}
    <h1 style="direction: rtl; text-align: center; margin: 20px; margin-top: 80px;">خدمت دهنده {{object.name_of_company}}</h1>
    {% if object.logo  %}
    <img style="direction: rtl; text-align: center; margin: 20px; " src="{{ object.logo.url }}"> 
    {% endif %}
    <p style="direction: rtl; text-align: center; margin: 20px;"> اطلاعات تماس : {{object.phone}}</p>
    <p style="direction: rtl; text-align: center; margin: 20px; "> درباره این خدمت دهنده : {{object.content}} </p>
    <p style="direction: rtl; text-align: center; margin: 20px; margin-bottom: 75px;"> وب سایت : {{object.website}} </p>


    
  
    
{% endblock content %}

