asgiref==3.3.1
buttercms-python==1.2
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
dj-database-url==0.5.0
Django==3.1.3
django-ckeditor==6.0.0
django-extensions==3.1.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-phonenumber-field==5.0.0
django-taggit==1.3.0
django-wordpress-api==0.2.0
freeze==3.0
gunicorn==20.0.4
idna==2.8
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
phonenumbers==8.12.13
Pillow==8.0.1
psycopg2==2.8.6
psycopg2-binary==2.8.6
Python-dev==2.0.0.dev0
pytz==2020.4
requests==2.21.0
six==1.12.0
sqlparse==0.4.1
urllib3==1.24.3
Werkzeug==1.0.1
whitenoise==5.2.0
