{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}  
{% block content %}

<div class="container">
    
  <hr>
  
  
  <div class="row justify-content-center">
  <div class="col-md-6">
  <div class="card">
  <header class="card-header">
      <a href="" class="float-right btn btn-outline-primary mt-1">ورود</a>
      <h4 class="card-title mt-2">ثبت نام</h4>
  </header>
  <article class="card-body">
    
      <form action="/profile/signup/" , method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="send">
      </form>
      
  <!-- </form> -->
  </article> <!-- card-body end .// -->
  <div class="border-top card-body text-center">اکانت داری? <a href="{% url 'login' %}">ورود</a></div>
  </div> <!-- card.// -->
  </div> <!-- col.//-->


































{% endblock %}