{% extends 'base.html' %}

{% block title %}
استارتاپ 
{% endblock title %}

{% block content %}
 




<div class="content-profile-page">
    <div class="profile-user-page card">
       <div class="img-user-profile">
         <img class="profile-bgHome" src="https://37.media.tumblr.com/88cbce9265c55a70a753beb0d6ecc2cd/tumblr_n8gxzn78qH1st5lhmo1_1280.jpg" />
         {% if object.logo  %}
         <img class="avatar" src="{{ object.logo.url }}" alt="لوگو"/>
         {% endif %}    
        </div>
           <!-- <button>Follow</button> -->
           <div class="user-profile-data">
             <h1> {{object.name_of_company}}</h1>
             
           </div> 
           <div class="description-profile">{{object.content}}</div>
        <ul class="data-user">
         <li><a><span>تعداد سرویس های این کاربر</span><strong>3390</strong></a></li>
         <li><a><span>امتیاز</span><strong>718</strong></a></li>
         <li><a><span>سرویس ها</span><strong>239</strong></a></li>
        </ul>
       </div>
     </div>
 
 <footer>
   
 </footer>

    
  
    
{% endblock content %}

