<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user_detail</title>
    <!-- <link href="img/favicon.png" rel="icon"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-rtl.css">
    <!-- <link rel="stylesheet" href="css/themify-icons.css"> -->
    <!-- <link rel="stylesheet" href="css/owl.carousel.min.css"> -->
    <link rel="stylesheet" href="css/vazir.css">
    <link rel="stylesheet" href="css/user_list.css">
</head>

<body>

    <div class="container box mt-5">
        <div class="row">

            <div class="col-8">

                <div style="padding: 2%;">
                    <h3 class="text-dark my-3 " style="text-align: right; ">نام : لورم ایپسوم یا طرح‌نما</h3>


                </div>
                <div style="padding: 2%;">
                    <p class="text-muted "> توضیحات : به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از
                        نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد
                        از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار به متنی آزمایشی و بی‌معنی
                        در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و
                        اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه
                        به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات
                        ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند. آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی
                        را به پایان برند. </p>


                </div>



            </div>



            <div class="col-4">


                <div class="box">

                    <img class="img-fluid text-center" src="img/download.png">

                </div>


                <div class="mt-2 pt-3">

                    <div class="row m-2" dir="ltr">
                        <img class="img-fluid float-left" src="img/logo-user-detail-page/icons8-internet-50.png" width="40px" height="40px">
                        <p class="m-2">www.google.com</p>
                    </div>
                    <div class="row m-2" dir="ltr">
                        <img class="img-fluid float-left" src="img/logo-user-detail-page/icons8-email-100.png" width="40px" height="40px">
                        <p class="m-2">mapsa@emailtest.com</p>
                    </div>
                    <div class="row m-2" dir="ltr">
                        <img class="img-fluid float-left" src="img/logo-user-detail-page/icons8-address-50.png" width="40px" height="40px">
                        <p class="m-2">تهران - شهر جنگو</p>
                    </div>
                    <div class="row m-2" dir="ltr">
                        <img class="img-fluid float-left" src="img/logo-user-detail-page/icons8-linkedin-50.png" width="40px" height="40px">
                        <p class="m-2">لینک دین نداریم شرمنده </p>
                    </div>


                </div>


            </div>



        </div>


    </div>




    <script src=" js/jquery-3.2.1.min.js "></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "></script> -->
    <script src="js/bootstrap.min.js "></script>
    <!-- <script src="js/owl.carousel.min "></script> -->
    <script src="js/js.js "></script>
</body>

</html>