asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.5
django-ckeditor==6.0.0
django-extensions==3.1.0
django-jalali==4.1.2
django-js-asset==1.2.2
django-ranged-response==0.2.0
django-sendsms==0.4
django-taggit==1.3.0
django-simple-captcha==0.5.13
idna==2.10
jdatetime==3.6.2
kavenegar==1.1.2
Pillow==8.1.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
PyJWT==1.7.1
pytz==2020.5
requests==2.25.1
six==1.15.0
sendsms==0.2.0
sqlparse==0.4.1
twilio==6.51.0
urllib3==1.26.2
whitenoise==5.2.0
django-crispy-forms
