{% extends "base.html" %}
{% load static %}

{% block content %}
  


<div class="container">
        
  <hr>
  
  
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                  <h4 class="card-title mt-2">ورود</h4>
                </header>
                <article class="card-body">
                  <!-- <form method="POST">
                    {% csrf_token %}
                    
                      
                              <div class="form-group">
                              <label for="phone"> شماره موبایل</label>
                              <input id="phone" type="email" class="form-control" placeholder="">
                              <small class="form-text text-muted"></small>
                              </div> form-group end.// -->
                              <!-- <div class="form-group">
                                  <label for="password">پسورد</label>
                                  <input id="password" class="form-control" type="password">
                              </div> -->
                               <!-- form-group end.// -->
                              <!-- </div> form-row.// -->
                               <!-- form-group end.// -->  
                              <!-- <div class="form-group">
                                  <button type="submit" class="btn btn-primary btn-block"> ورود  </button>
                              </div> form-group//       -->
                                                                       
                          <!-- </form> --> 

                        <form action="/profile/login/" , method="post">
                            {% csrf_token %}
                            {{form.as_p }}
                            <input type="submit">
                            <input type="hidden" name="next" value="{{ next }}">
                        </form>

                </article> <!-- card-body end .// -->
            <div class="border-top card-body text-center">اکانت نداری? <a href="{% url 'signup' %}">ثبت نام کن</a></div>
        </div> <!-- card.// -->
    </div> <!-- col.//-->
</div> <!-- form-group end.// -->



{% endblock content %}


