{% extends 'base.html' %}


{% block title %}
اینو توکن
{% endblock title %}


{% block content %}


<div class="container">
    <div class="row">
        {% for obj in object_list %}
        <div class="col-md-3 text-right">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation">
                        [ InnToken ]
                    </div>
                    <div class="product-desc">
                        
                        <p class="">{{obj.lastname}}  </p>
    
                        <div class="small m-t-xs" style="margin-bottom: 50px;">
                            {{obj.description}}
                        </div>
                        
                        <div class="m-t text-righ">
    
                            <a href="{% url 'startup_detail' obj.pk %}" class="btn btn-xs btn-outline btn-primary">مشاهده  <i class="fa fa-long-arrow-left"> </i> </a>
                            
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
    </div>
    </div>






    

{% endblock content %}
