<h1>سبد خرید {{request.user.phone}}</h1>
<br>
<br>
<table id="cart_items">
    <tr>
        <th>نام کالا</th>
        <th>نام فروشنده</th>
        <th>تعداد درخواستی</th>
        <th>قیمت هر واحد</th>
        <th>افزودن</th>
    </tr>

    {% for item in cart_item %}
    <tr>
        <td>{{item.service.name}}</td>
        <td>{{item.service.cuser.phone}}</td>
        <td id='{{item.id}}'>{{item.qty}}</td>
        <td>{{item.service.price}}</td>
        <td>
            

                <form action="{% url 'add_cart' service_id=item.service.id%}?next={{request.path}}" , method='post'>
                    {% csrf_token %}
                    <input type="submit" class="submitbutton btn btn-outline-dark" value="+">
                </form>
                <form action="{% url 'decrement_cart' service_id=item.service.id%}?next={{request.path}}" , method='post'>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-dark" value="-">
                </form>
                <form action="{% url 'delete_from_cart' service_id=item.service.id%}?next={{request.path}}" , method='post'>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-dark" value="حذف">
                </form>
        </td>
    </tr>
    {% endfor %}

</table>